h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700 !important;
    font-style: normal;
    margin-left: 15px;
    font-size: 38px !important;
}

p, ion-title, ion-input, ion-item {
    font-family: "Montserrat", sans-serif;
}

ion-content {
    --ion-background-color: var(--background-color)!important;
}
.toolbar-container, toolbar-container {
    background: var(--background-color)!important;
    --ion-toolbar-background: var(--background-color)!important;
    --ion-background-color: var(--background-color)!important;
}