:root {
    --text-color: black;
    --background-color: white;
    --note-background-color: rgb(243, 243, 243);

    /* prefrence-colors */
    --prefrence-color: #00bf63;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: white;
        --background-color: black;
        --note-background-color: rgb(23, 23, 23);

        --prefrence-color: #00bf63;

    }
}
ion-content {
    --ion-background-color: var(--background-color);
}